.header{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    background-color: #fff;
    width: 1200px;
    margin: 0px auto;
    padding: 10px 0px;
}
.logo img{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color:#242424;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    transition: 0.5s ease;
}
.menu li a:hover{
    color: #fe696a;
    letter-spacing: 0.5px;
}
.group-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.register{
    margin-right: 10px;
    padding: 8px 25px;
    transition: .6s;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.register:hover{
    box-shadow: 0px 0px 15px rgba(80, 49, 49,0.4);
}
.sign{
    margin-left: 10px;
    padding: 8px 25px;
    transition: .6s;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #fe696a;
    background-color: #fe696a;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.sign:hover{
    box-shadow: 0px 0px 15px rgba(254, 105, 106,.9);
}
